@CHARSET "ISO-8859-1";

div#navigation{
	
	border-bottom: 1px solid #787878;
	padding-left: 20px;
	text-align: center	
}
div#navigation ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap
}
div#navigation li{
	display: inline;
	margin: 0;
	padding:0
}
div#navigation li a{
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #787878;
	padding: 0px 0.3em;
	background-color: #becbe6;
    color: #036
}
div#navigation li a:hover{
	background-color: navy;
	text-decoration: none;
	color: #dfdfff
}
div#navigation li#activelink a{
	border-bottom: 1px solid #fff;
	background-color: #fff;
	color: #036
}